Repository astropy/astropy.github.com, pull requests merged in 2022-01, with the labels that each got.

#458 Add William Jamieson as a modeling maintainer
  roles.json
Labels: roles and team

#457 Restructure of Learn Astropy roles
  roles.json
Labels: roles and team

#462 Update Omnifit package status
  affiliated/registry.json
Labels: affiliated-packages

#463 Get Omnifit update date right
  affiliated/registry.json
Labels: affiliated-packages

#451 Proposed affiliated package: BayesicFitting
  affiliated/registry.json
Labels: affiliated-package-request

#460 Add bullet about citation to affiliated package guidelines.
  affiliated/index.html
Labels: affiliated-packages
